*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}
html, body{
    height: 100%;
    width: 100%;
}
canvas{
    height: 100vh;
    width: 100vw;
    position: relative;
}
#page{
    height: 100vh;
    width: 100vw;
    background-color: aqua;
}
#page1{
    height: 100vh;
    width: 100vw;
    background-color: orange;
}